.big-poster-container {
    position: relative;
    padding: 15px;
    background: var(--icon-bg-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 330px;
    height: 500px;
    display: flex;
}

.big-poster-container img {
    /* margin-top: 4px; */
    border-radius: 6px;
    width: 330px;
    height: 100%;
    object-fit: cover;
}