.container {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 280px;
    margin-top: 0;
}

.container-grid-1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 97px);
    grid-column-gap: 40px;
    grid-auto-rows: minmax(min-content, max-content);
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
}

.container-grid-2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 97px);
    grid-column-gap: 40px;
    grid-auto-rows: minmax(min-content, max-content);
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
}


.container-grid-3 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 97px);
    grid-template-columns: 97px;
    grid-column-gap: 40px;
    margin-left: 0;
    margin-bottom: 40px;
    min-height: 100vh;
    align-items: start;
}

.backwards-button {
    position: relative;
    margin-top: 60px;
    width: 0;
    grid-column: 1;
    grid-row: 1;
    border: none;
}

.backwards-button:hover {
    border: none;
    background: none;
}

.poster {
    height: auto;
    position: relative;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0px;
    grid-column: 2 /span 3;
    grid-row: 1;
}

.rate-buttons-big-container {
    position: relative;
    left: 8px;
    top: 25px;
    display: flex;
    justify-content: center;
    grid-column: 2 /span 3;
    margin-top: 0;
    grid-row: 2;
}

.rate-buttons-big-container p {
    margin-right: 20px;
}


.h1 {
    line-height: 1.2;
    margin-top: 70px;
    margin-bottom: 0;
    grid-column: 1 / span 5;
    font-size: 44px;
    grid-row: 1;
}

.h2 {
    color: var(--grey-color);
    grid-column: 1 / span 5;
    grid-row: 2;
    font-size: 30px;
}

.h3 {
    color: white;
    font-weight: 500;
    grid-column: 1 / span 5;
    grid-row: 4;
    font-size: 22px;
}

.rating_icons {
    margin-top: 60px;
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 200px;
}

.rating_icons>* {
    margin-bottom: 10px;
}

.icons-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1 /span 5;
    grid-row: 3;
    margin-left: 0;
}

.icons-row .icon-big {
    margin-right: 10px;
}

.trailer-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / span 2;
    grid-row: 5;
}

.trailer-button-container .p {
    margin-right: 15px;
}

.watch-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 3 / span 3;
    grid-row: 5;
}

.watch-button-container .p {
    margin-right: 15px;
}

.p {
    color: white;
    font-weight: 500;
    grid-column: 1 / span 6;
    grid-row: 4;
    font-size: 24px;
}

.about {
    grid-column: 1 / span 2;
    grid-row: 6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 10px;

    color: white;
    font-weight: bold;
    font-size: 28px;
}

.info {
    grid-column: 1 / span 5;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.plot {
    grid-column: 1 / span 5;
    margin-top: 10px;
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.similar {
    margin-top: 50px;
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: white;
    font-weight: bold;
    font-size: 28px;
}

.actors-container {
    background-color: var(--icon-bg-color);
    padding: 10px;
    border-radius: 10px;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
}

.actors-title {
    display: flex;
    justify-content: flex-end;

    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
}

.actors {
    text-align: right;
    text-underline-offset: 20px;

    color: white;
    font-weight: normal;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.slider {
    margin-top: 10px;
    grid-column: 1 / span 5;
    margin-left: -97px;
    margin-bottom: 100px;
}